<!DOCTYPE html>
<html>
<head>
  <% include header.ejs %>
</head>

<body>

  <% include nav.ejs %>

  <div class="jumbotron text-center">
    <div>
      <form>
        Account: <input type="text" name="account" />
        <select name="account type">
          <option value="PS" selected>Playstation</option>
          <option value="XB" selected>Xbox</option>
        </select>
      </form>
      <form>
        <input type="radio" name="Character 1" value="1">Character 1 &nbsp; &nbsp;
        <input type="radio" name="Character 2" value="2">Character 2 &nbsp; &nbsp;
        <input type="radio" name="Character 3" value="3">Character 3 &nbsp; &nbsp;
      </form>
    </div>
    <div class="container">
      <h1>This is the gear page!</h1>
      <p>Now where is my y1 last word?</p>
      <!--
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      -->
    </div>
  </div>

</body>
</html>
