<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/images/home.jpg">
      </a>
      <h1>Lets do stuff with Destiny!</h1>
      <p>Now where is my y1 gjallarhorn?</p>
      <!--
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      -->
    </div>
  </div>

</body>
</html>
